<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29201269976-pj0efeo2vdv6ntkoremclu8pt444lal9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29201269976-pj0efeo2vdv6ntkoremclu8pt444lal9</string>
	<key>API_KEY</key>
	<string>AIzaSyBjdEM3XwThEWS2cvUSU_3Th-IvLI_3EGI</string>
	<key>GCM_SENDER_ID</key>
	<string>29201269976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sebapps.Instagram-Firebase</string>
	<key>PROJECT_ID</key>
	<string>instagram-firebase-623a3</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-firebase-623a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29201269976:ios:80cf95e7f6dbc4de44c3ad</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-firebase-623a3.firebaseio.com</string>
</dict>
</plist>